@import "reset";

.siblingSameWidth (@index) when (@index > 0) {
  &:first-child:nth-last-child(@{index}),
  &:first-child:nth-last-child(@{index}) ~ & {
    width: 100%/@index;
  }
  .siblingSameWidth(@index - 1);
}

@max-width: 1000px;
@cell-height: 60px;
@border-color: #ccc;
.container {
  max-width: @max-width;
  margin: 0 auto;
}

.table-view {
  display: flex;
  flex-direction: column;
  &__row {
    display: flex;
    flex-direction: row;
    border-top: 1px solid @border-color;
    &:last-child {
      border-bottom: 1px solid @border-color;
    }
    &__cell {
      border-left: 1px solid @border-color;
      &:last-child {
        border-right: 1px solid @border-color;
      }
      padding: 3px;
      height: @cell-height;
      //100 siblings should be enough
      .siblingSameWidth(100);
    }
  }
}